.SignUp_page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 72px);
    background-color: #ffffff;
}

.name {
    display: flex;
    gap: 60px;
    justify-content: center;
    text-align: center;

}
.SignUp_page_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.SignUp_page_heading {
    font-size: 2rem;
    text-align: center;
    margin: 10px 0;
    font-size: 3rem;
    text-align: left;
    color: #384fe8;
}

.SignUp_form {
    display: flex;
    gap: 7px;
    flex-direction: column;
    margin: 10px 0;
}

.SignUp_form input {
    height: 40px;
    padding: 0 8px;
    border-radius: 10px;
    border: 2px solid #687cfc;
}

.SignUp_form label {
    font-size: 20px;
}

.SignUp_page_login{
    display: flex;
    flex-direction: column;
    text-align: center;
}

a {
    text-decoration: none;
    /* color: black; */
    color: #384fe8;
}