.pass {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.passwordContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.passwordContainer input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-password svg {
  font-size: 18px;
}