.login_page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
}

.login_page_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
}

.login_page_heading {
    font-size: 2rem;
    text-align: center;
    margin: 10px 0;
    font-size: 3rem;
    text-align: left;
    color: #384fe8;
}

.login_form {
    display: flex;
    gap: 7px;
    flex-direction: column;
    margin: 10px 0;
}

.login_form input {
    height: 40px;
    padding: 0 8px;
    border-radius: 10px;
    border: 2px solid #687cfc;
}

.login_form label {
    font-size: 20px;
}

.login_page_signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}
.abc {
    display: flex;
    text-align: center;
    padding: 10px 0;
    gap: 85px;
}

a {
    text-decoration: none;
    /* color: black; */
    color: #384fe8;
}
